*{
    transition: all 0.25s;
}

body{
    margin:0;
    padding:0;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#bar{
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header{
    width: 70vw;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

.option{
    flex: auto;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px; 
    cursor: pointer;
}

.option:hover{
    background:lightgray;
}

.progress{
    flex:1 1 auto;
    height: 20px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: lightgray;
    margin: 10px;
}

.progresstext-bar{
    align-items: center;
    margin: 5px;
}

.progress-bar{
    height: 100%;
    background: rgb(0, 177, 0);
    align-items: center;
    transition: width 0.25s;
    border-radius: 20px;
}

.text-bar{
    font-family: 'Segoe UI';
}

label{
    display: flex;
    background: white;
    border-radius: 12px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;     
    justify-content: center;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label{
    background-color: dodgerblue;
}
