*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
body {
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ibb.co/1nTJ7FC/portada.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
.close {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 50px;
    font-size: 1.7em;
    cursor: pointer;
    display: none;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.close:hover {
    font-size: 2.4em;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.search {
    position: absolute;
    top: 40%;
    left: 46.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 1000px;
    width: 1;
    height: 0;
    background: #ffc400;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}


.btn{
    min-height: auto;
}
  
.search #form #play{
    position: absolute;
    top: 51.5%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 9%;
    height: 1%;
    border-radius: 10px;
    display: none;
}



.search #form #teacher{
    position: absolute;
    top: 52.7%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 9%;
    height: 1%;
    border-radius: 10px;
    display: none;
}

.search #form .input{
    position: absolute;
    top: 50%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 9%;
    height: 1%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #eee;
    color: #eee;
    font-size: 1.3em;
    display: none;
}

.search .input::placeholder{color: #eee;}
  
.search.open {
    height: 4000px;
    width: 4000px;
}