*{
    transition: all 0.25s;
}

body{
    margin:0;
    padding:0;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#board{
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.answers{
    width:100%;
    height:100px;
    object-fit: contain;
}

#bar{
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#image{
    width: 100%;
    height:25em;
    object-fit: contain;
    margin-bottom: 1%;
}

#header{
    min-height: 12.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

.radio{
    display: grid;
    grid-template-columns: 50% 50%;
}

.progress{
    flex:1 1 auto;
    height: 20px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: lightgray;
    margin: 10px;
}

.progresstext-bar{
    align-items: center;
    margin: 5px;
}

.progress-bar{
    height: 100%;
    background: rgb(0, 177, 0);
    align-items: center;
    transition: width 0.25s;
    border-radius: 20px;
}

.text-bar{
    font-family: 'Segoe UI';
}

label{
    display: flex;
    background: white;
    border-radius: 12px;
    border: 1px solid lightgray;
    border-bottom: 3px solid dodgerblue;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

label:hover{
    background-color: lightgray;
}

input[type="radio"]{
    display: none;
}

.radio input[type="radio"]:checked + label{
    background-color: dodgerblue;
    border-bottom: 3px solid white;
}

countdown-timer {
    font-family: sans-serif;
    display: block;;
    position: relative;
    width: 150px;
    height: 150px;
}
  
countdown-timer svg {
    transform: scaleX(-1);
}
  
countdown-timer g.timer-circle {
    fill: none;
    stroke: none;
}
  
countdown-timer .path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}
  
countdown-timer .path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}
  
countdown-timer .path-remaining.green {
    color: rgb(65, 184, 131);
}
 
countdown-timer .path-remaining.orange {
    color: orange;
}
  
countdown-timer .path-remaining.red {
    color: red;
}
  
countdown-timer span.label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
  